.card-purchase {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px #0005;
}
  .card-purchase__date{
    text-align: center;
    margin-bottom: 20px;
  }



  .cart__total-global-value{
    justify-self: end;
    font-size: 20px;
    font-weight: 700;
    font-size: 20px;
    font-weight: 700;
  }
  .card-purchase__price::before {
    content: ' $';
    margin-right: 1px;
  }
  .cart__total-global-label{
    font-size: 20px;
    font-weight: 500;
  }
  .cart__btn{
    grid-column: span 2;
    padding: 10px;
    border: none;
    background-color: var(--secundario);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: transform 200ms ease;
    cursor: pointer;
  }
  .cart__btn:hover {
    transform: scaleY(1.06);
    filter: brightness(1.08);
    transition: transform 200ms ease;
  }